.c1{
    font-size: 2rem;
    }
.c2{
    font-size: 3rem;
}
.my_div{
    font-size: 2rem;
}
.c3{
    font-size: 2rem;
} 
.percent_cls{
    width: 400px;
    height: 250px;
    border: 1px solid #ff0000;
}
.c4{
    width: 50%;
    background-color: #00ff00;
}
.c5{
    width: 50vw;
    background-color:rgb(119, 8,8);
}