$mobile : 576px;
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    &__img{
        flex: 1;
        background-image: url(COLL-min.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: blueviolet;
    }
    &__text{
        flex: 1;
       background-color: bisque;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__1{
            font-size: 3vw;
        }
        [class^="container__text__"]:not(.container__text__1){
            font-size: 2vw;
        }
    }
}

@media(max-width:$mobile){
    .container{
        flex-direction: column;
        &__img{
        }
        &__text{
            [class^="container__text__"]:not(.container__text__1){
                display: none;
            }
            &__1{
                font-size: 5vw;
            }
        }
    }    
}